body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
   background-color: #FFFFF0;

}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 100px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th{
    background-color: #f2f2f2;
}

button {
    margin-top: 10px;
    padding: 8px;
    cursor: pointer;
}




.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    background-color: #37353E;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    z-index: 1000;
  
}

.logo {
    margin: 0;
    font-size: 30px;
    color: #3A5BA0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-links  {
    display: flex;
    gap: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.nav-links a :hover {
    background: aqua;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}


.hamburger{
    font-size: 26px;
    cursor: pointer;
    display: none;
    background: #6ccedb;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

#toggle {
    display: none;
}




#sidebar {
    position: fixed;
    top: 0;
    left: -240px;
    width: 240px;
    height: 100%;
    background:white;
    padding-top: 60px;
    transition: left 0.3s ease;
    z-index:999 ;
    font-family: Arial, Helvetica, sans-serif;

}

#sidebar a {
    display: block;
    padding:12px 20px;
    color: rgb(106, 175, 255);
    font-family: Arial, Helvetica, sans-serif;

}

 #sidebar a:hover {
 background: #6ccedb;

}



#overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(250, 247, 247, 0.5);
    display: none;
    z-index: 998;

}

.hero{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    padding: 40px 10px 20px;
    background-color: #FFFFF0;
    flex-wrap: wrap;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  

}

.hero-text {
    flex: 1;
    padding: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-text h1 {
font-size: 2rem;
color: black;
margin-bottom: 15px;
justify-content: center;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}

.hero-text h5 {
line-height: 1.6;
color:black;
justify-content: center;
font-family: Arial, Helvetica, sans-serif;

}

.hero-logo img {
  
    padding: 50px;
    border-radius: 100px;
    height: 350px;
    width: 250px;

}



#toggle:checked ~ #sidebar {
    left: 0;
}

#toggle:checked ~ #overlay {
    display: block;
}


.gallery {
  padding: 10px;
  background: #ffffff;
  text-align: center;
}

.gallery h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #1f2937;
    justify-content: center;
    text-align: center;
}

.img-logo  {
    display: grid;
    gap: 15px;
    grid-template-columns:repeat(3, 1fr)  ;
    background-color:  #44444E;
    border-radius: 10px;
    
}
.img-logo img  {
  width:50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
    
    
}

.img-logo img:hover  {
transform: scale(1.05);
}

.content {
    margin-top: 60px;
    padding: 20px;
}

@media (max-width: 760px) {
    .nav-links {
        display: none;
    }
    .hamburger {
        display: block;
    }

    .hero{
    flex-direction: column;
    text-align: center;

    }

    .hero-text {
    padding: 10px;

    }

    }
